.App-header {
    background: white;
    color: #333;
    padding: 1rem;
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .App-header h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .App-header nav a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #e7e7e7;
  }
  
  .App-header nav a:hover {
    background-color: #ddd;
  }
  /* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px; /* Adjust the height as needed */
}

nav a {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #e7e7e7;
}

nav a:hover {
  background-color: #ddd;
}
/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px; /* Adjust the height as needed */
}

nav a {
  color: white;
  background-color: #612486; /* Purple color */
  margin: 0 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #5A1486; /* Darker shade of purple */
}
