/* src/components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px; /* Adjust the height as needed */
}

nav a {
  color: white;
  background-color: #612486; /* Purple color */
  margin: 0 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #5A1486; /* Darker shade of purple */
}
