.notifications {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .notifications h2 {
    color: #612486;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .notifications ul {
    list-style-type: none;
    padding: 0;
  }
  
  .notifications ul li {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .notifications ul li span {
    margin-right: 20px;
  }
  
  .notifications ul li p {
    flex: 1;
    margin: 0;
  }
  
  .notifications ul li button {
    margin-left: 10px;
    background-color: #612486;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .notifications ul li button:hover {
    background-color: #5a1486;
  }
  
  .notifications ul li.notification.high {
    border-left: 5px solid red;
  }
  
  .notifications ul li.notification.medium {
    border-left: 5px solid orange;
  }
  
  .notifications ul li.notification.low {
    border-left: 5px solid green;
  }
  