/* App.css */

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set global font styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}

/* Header styles */
.App-header {
  background: white;
  color: #333;
  padding: 1rem;
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.App-header nav a {
  color: #333;
  margin: 0 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #e7e7e7;
}

.App-header nav a:hover {
  background-color: #ddd;
}

/* Main content styles */
main {
  padding: 1rem;
  margin-top: 70px; /* Adjust this value to ensure the content is not hidden behind the fixed header */
  text-align: center; /* Center all text in main content */
}

/* Welcome Section */
.welcome-section {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text in welcome section */
}

.welcome-section .btn {
  margin: 10px;
  background-color: #5A20CB;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.welcome-section .btn:hover {
  background-color: #4A10BB;
}

/* Image Section */
.image-section {
  text-align: center; /* Center text in image section */
  margin: 20px 0;
}

.image-section .event-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Features Section */
.features-section {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text in features section */
}

.features-section h2 {
  font-size: 2rem;
  color: #5A20CB;
  margin-bottom: 10px;
}

.features-section p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
